body{
    background-color: green;
    color: white;
    font-size: 1.5rem;
    text-align: center;
}

input,button{
    background-color: black;
    font-size: 1.25rem;
    color: white;
    border-radius: 8px;
}

a:hover{
    padding: 8px;
    margin-right: 8px;
    transition: ease;
    transition-duration: 1s;
    background-color: aqua;
    color: white;
    border-radius: 8px;
}

a:active{
    padding: 8px;
    margin-right: 8px;
    transition: ease;
    transition-duration: 1s;
    background-color: aqua;
    color: white;
    border-radius: 8px;
}

.foto-efeito iframe{
    width: 340px;
    height: 360px;
    border-radius: 16px;
}

.foto-placa iframe{
    width: 340px;
    height: 360px;
    border-radius: 16px;
}

.foto-radiacao iframe{
    width: 340px;
    height: 360px;
    border-radius: 16px;
}

.foto-arduino-ide iframe{
    width: 340px;
    height: 360px;
    border-radius: 16px;
}

.foto-sete-segmentos iframe{
    width: 340px;
    height: 360px;
    border-radius: 16px;
}

.foto-potenciometro iframe{
    width: 340px;
    height: 360px;
    border-radius: 16px;
}

.foto-grafico-led iframe{
    width: 340px;
    height: 360px;
    border-radius: 16px;
}

.foto-grafico-sete iframe{
    width: 340px;
    height: 360px;
    border-radius: 16px;
}

.config-video{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.foto-componentes iframe{
    width: 340px;
    height: 360px;
    border-radius: 16px;
}

.foto-arduino iframe{
    width: 340px;
    height: 360px;
    border-radius: 16px;
}

.foto-microcontrolador iframe{
    width: 340px;
    height: 360px;
    border-radius: 16px;
}

.foto-multimetro iframe{
    width: 340px;
    height: 360px;
    border-radius: 16px;
}

.foto-led iframe{
    width: 340px;
    height: 360px;
    border-radius: 16px;
}

.foto-sete-segmentos iframe{
    width: 340px;
    height: 360px;
    border-radius: 16px;
}

.foto-grafico-sete-segmentos iframe{
    width: 340px;
    height: 360px;
    border-radius: 16px;
}